{{log "about this" this}}
{{log "about model" this.args.outletArgs.model}}
{{log "about statistics" this.statistics}}
{{log "about outlet model stats" this.args.outletArgs.model.stats}}

// From
https://github.com/discourse/discourse/blob/cc447a1ae34466e6c92ba59a387165f4c213a326/app/assets/javascripts/discourse/app/templates/about.hbs#L142

<section class="classic-about c-stats">
  <h3>{{d-icon "far-chart-bar"}} {{i18n "about.stats"}}</h3>
  <table class="table">
    <thead>
      <tr>
        <th>
        </th>
        <th>{{i18n "about.stat.last_day"}}</th>
        <th>{{i18n "about.stat.last_7_days"}}</th>
        <th>{{i18n "about.stat.last_30_days"}}</th>
        <th>{{i18n "about.stat.all_time"}}</th>
      </tr>
    </thead>
    <tbody>
      <tr class="about-topic-count">
        <td class="title">{{i18n "about.topic_count"}}</td>
        <td>{{number this.model.stats.topics_last_day}}</td>
        <td>{{number this.model.stats.topics_7_days}}</td>
        <td>{{number this.model.stats.topics_30_days}}</td>
        <td>{{number this.model.stats.topics_count}}</td>
      </tr>
      <tr class="about-post-count">
        <td>{{i18n "about.post_count"}}</td>
        <td>{{number this.model.stats.posts_last_day}}</td>
        <td>{{number this.model.stats.posts_7_days}}</td>
        <td>{{number this.model.stats.posts_30_days}}</td>
        <td>{{number this.model.stats.posts_count}}</td>
      </tr>
      <tr class="about-user-count">
        <td>{{i18n "about.user_count"}}</td>
        <td>{{number this.model.stats.users_last_day}}</td>
        <td>{{number this.model.stats.users_7_days}}</td>
        <td>{{number this.model.stats.users_30_days}}</td>
        <td>{{number this.model.stats.users_count}}</td>
      </tr>
      <tr class="about-active-user-count">
        <td>{{i18n "about.active_user_count"}}</td>
        <td>{{number this.model.stats.active_users_last_day}}</td>
        <td>{{number this.model.stats.active_users_7_days}}</td>
        <td>{{number this.model.stats.active_users_30_days}}</td>
        <td>&mdash;</td>
      </tr>
      {{#if this.displayVisitorStats}}
        <tr class="about-visitor-count">
          <td>{{i18n "about.visitor_count"}}</td>
          <td>{{number this.model.stats.visitors_last_day}}</td>
          <td>{{number this.model.stats.visitors_7_days}}</td>
          <td>{{number this.model.stats.visitors_30_days}}</td>
          <td>&mdash;</td>
        </tr>
        <tr class="about-eu-visitor-count">
          <td>{{i18n "about.eu_visitor_count"}}</td>
          <td>{{number this.model.stats.eu_visitors_last_day}}</td>
          <td>{{number this.model.stats.eu_visitors_7_days}}</td>
          <td>{{number this.model.stats.eu_visitors_30_days}}</td>
          <td>&mdash;</td>
        </tr>
      {{/if}}
      <tr class="about-like-count">
        <td>{{i18n "about.like_count"}}</td>
        <td>{{number this.model.stats.likes_last_day}}</td>
        <td>{{number this.model.stats.likes_7_days}}</td>
        <td>{{number this.model.stats.likes_30_days}}</td>
        <td>{{number this.model.stats.likes_count}}</td>
      </tr>
      {{#each this.statGroups as |statGroupName|}}
        <tr class={{concat "about-" statGroupName "-count"}}>
          <td>{{i18n (concat "about." statGroupName "_count")}}</td>
          <td>{{number
              (get this.model.stats (concat statGroupName "_last_day"))
            }}</td>
          <td>{{number
              (get this.model.stats (concat statGroupName "_7_days"))
            }}</td>
          <td>{{number
              (get this.model.stats (concat statGroupName "_30_days"))
            }}</td>
          <td>{{number
              (get this.model.stats (concat statGroupName "_count"))
            }}</td>
        </tr>
      {{/each}}
    </tbody>
  </table>
  {{#if this.displayVisitorStats}}
    <p class="about stats-table-footer"><small
      >{{this.statsTableFooter}}</small></p>
  {{/if}}
</section>
